body{
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-c-08_1-ksh6mza3.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f584d8501c27c5f649bc2cfce50705c0);
background-size: cover;
font-weight: 900;
font-size: 50px;
}
h1 span{
    color: greenyellow;
    border-radius: 10px;
    animation: alternate-reverse 1s;
}
h1{
    color: aliceblue;
    border-radius: 30px 
    ;
    border: 3px;
}
div{
    justify-content: left;
    align-items: last baseline;
    margin: 5%;
    margin-top: 15%;
}